{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Inventory{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>My Inventory System</h1>
      <nav>
        <ul>
          <li><a href="{% url 'view_supplier' %}">View Suppliers</a></li>
          <li><a href="{% url 'view_bottles' %}">View Bottles</a></li>
          <li><a href="{% url 'add_bottle' %}">Add Bottle</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2025 My Inventory System</p>
    </footer>
  </body>
</html>