{% extends 'MyInventoryApp/base.html' %}

{% block sidebar %}
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-dark" href="">
            <i class="material-icons">account_circle</i>
            <strong>{{account.username}}</strong>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_account' pk=account.pk %}">
            <i class="material-icons">settings</i>
            Back to Manage Account
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card col-md-4">
        <div class="card-header text-center">
            <h4>Change Password</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="password" name="current_password" class="form-control" placeholder="Current Password" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="new_password" class="form-control" placeholder="New Password" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="confirm_password" class="form-control" placeholder="Confirm New Password" required>
                </div>

                <div class="d-grid mb-2">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
                <div class="d-grid">
                    <a href="{% url 'manage_account' account.pk %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>

            {% if messages %}
                <div class="mt-3">
                    {% for message in messages %}
                        <div class="alert alert-warning text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
